<div class="container-fluid page-start">
	<div class="container page-title">
		<div class="row">
			<div class="col-md-12 title">
	            <h1><strong>Sobre a Asserjufe</strong></h1>
			</div>
		</div>
	</div>
</div>
<div class="container a_asserjufe">
	<div class="row">
		<div class="col-xs-12 col-md-12 text-center">
			<img src="<%= image_path 'asserjufe.png' %>" class="img-fluid sobre-logo">
			<blockquote>
				<p class="lead text-justify main-color">A ASSERJUFE é uma sociedade civil de direito privado, de representação profissional dos Servidores da Justiça Federal, de âmbito Regional, sem fins lucrativos, com prazo de duração indeterminado, de caráter associativo, cultural, recreativo, com personalidade jurídica distinta de seus associados, os quais não respondem por quaisquer compromissos ou obrigações assumidos pela entidade.
				</p>
			</blockquote>
		</div>
	</div>
	<div class="row subinfo">
		<div class="col-md-6">
			<h3 class="secundary-color text-center">
				<i class="fa fa-bookmark main-color"></i> Fundação
			</h3>
			<blockquote>
				<p class="main-color text-justify lead">A ASSERJUFE foi fundada em 1º de Dezembro de 1997 conforme o disposto no artigo 1º do seu Estatuto e tem por finalidade reunir e congregar todos os servidores e magistrados ativos e inativos do Poder Judiciário Federal e Ministério Público da União, cujos associados, por extensão, filiam-se a esta entidade.</p>
			</blockquote>
		</div>
		<div class="col-md-6">

			<h3 class="secundary-color text-center">
				<i class="fa fa-bookmark main-color"></i> Sede Administrativa
			</h3>
			<blockquote>
				<p class="main-color text-justify lead">A ASSERJUFE tem sua sede administrativa em Porto Alegre - RS, com endereço na Rua Otávio Francisco Caruso da Rocha nº 300 - 8º andar- torre B, no prédio do Tribunal Regional Federal-4ª Região e foro em todo o território do estado do Rio Grande do Sul; sede campestre em Águas Claras no Município de Viamão-RS.</p>
			</blockquote>
		</div>
		<!-- <div class="col-md-12">
			<h3 class="secundary-color text-center">
				<i class="fa fa-bookmark main-color"></i> Sócio cooperador
			</h3>
			<blockquote>
				<p class="main-color text-justify lead">Conforte alterações efetuadas no estatuto em janeiro de 2021, foi criada a categoria de <b>sócio cooperador</b>, quais sejam: funcionários públicos municipais, estaduais e federais, de qualquer esfera de Poder, ou parentes e amigos de associados efetivos. Os associados cooperadores pagarão as mesmas taxas dos associados efetivos na utilização da sede campestre. Além disso poderão exercer alguns cargos de administração previstos no estatuto. Outros benefícios serão divulgados oportunamente.</p>
			</blockquote>
		</div> -->
	</div>
</div>
<div class="container diretoria">
	<div class="row">
		<div class="col-md-12 mobile-center">
			<h2 class="secundary-color">Gestão 2020-2023</h2>
			<div class="line-diretoria" style="width:105px; height:5px; background-color: #007C61;"></div>
		</div>
		<div class="text-center col-md-12 mob-mb">
			<img class="img-circle" src="<%= image_path 'diretoria/jorge.jpg' %>">
			<h3 class="main-color">Jorge Ladislau Gomes Pimentel</h3>
			<small class="secundary-color">Presidente</small>
			<br class="hidden-xs">
			<br class="hidden-xs">
		</div>
		<div class="text-center col-md-4 mob-mb">
			<img class="img-circle" src="<%= image_path 'diretoria/vice.jpg' %>">
			<h3 class="main-color">Valdecir Silva Cardozo</h3>
			<small class="secundary-color">Vice-Presidente</small>
		</div>
		<div class="text-center col-md-4 mob-mb">
			<img class="img-circle" src="<%= image_path 'diretoria/josé.jpg' %>">
			<h3 class="main-color">José Rocha Tavares Pitrez Monteiro</h3>
			<small class="secundary-color">Diretor Administrativo-Financeiro</small>
		</div>
		<div class="text-center col-md-4 mob-mb">
			<img class="img-circle" src="<%= image_path 'diretoria/gilmar.jpg' %>">
			<h3 class="main-color">Gilmar Ribeiro Santos</h3>
			<small class="secundary-color">Diretor Social e de Esportes</small>
		</div>
		<div class="text-center col-md-6 mob-mb">
			<img class="img-circle" src="<%= image_path 'diretoria/alexandre.jpg' %>">
			<h3 class="main-color">Alexandre Allegretti Venzon</h3>
			<small class="secundary-color">Diretor Jurídico</small>
		</div>
		<div class="text-center col-md-6 mob-mb">
			<img class="img-circle" src="<%= image_path 'diretoria/jairo.jpg' %>">
			<h3 class="main-color">Jairo Luís do Canto Alves</h3>
			<small class="secundary-color">Diretor de Convênios e Benefícios</small>
		</div>
	</div>
</div>
<div class="container-fluid sobre-maps">
	<%= render 'shared/google_maps', src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3453.90768647313!2d-51.23905238481813!3d-30.03950613800758!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9519791c02f8d6c3%3A0x67a9c27f6d99e242!2sASSERJUFE!5e0!3m2!1spt-BR!2sbr!4v1603592591117!5m2!1spt-BR!2sbr" %>
</div>