<section class="home">
	<% if @banners.present? %>
		<!-- Banners Asserjufe -->
		<div class="asserjufe-banners">
			<div class="owl-carousel owl-theme owl-banners hidden-xs">
				<% @banners.each do |banner| %>
					<a href="<%= banner.url %>">
							<img src="<%= image_path banner.imagem.url %>">
					</a>
				<% end %>
			</div>

			<div class="owl-carousel owl-theme owl-banners visible-xs">
				<% @banners.each do |banner| %>
					<a href="<%= banner.url %>">
							<img src="<%= image_path banner.imagem_mobile %>">
					</a>
				<% end %>
			</div>
		</div>
	<% end %>

	<% if @noticias.present? %>
		<div class="container-fluid">
			<div class="news-home" style="margin-bottom: 20px;">
				<div class="container">
					<!-- Título -->
					<h2 class="secundary-color text-center">
						<!-- #Asserjufe título em cores principais -->
						<p style="font-size:60px;" class="main-color"># Notícias <b style="font-size:60px;"><text style="color:#007b84;">As</text><text style="color: #006600;">ser</text><text style="color:#007b84;"></text><text style="color:#007b84;">ju</text><text style="color: #006600;">fe</b>
						</p>
					</h2>
				</div>
				<!-- corpo -->
				<div class="row news">
					<% @noticias.each.with_index(1) do |news, index| %>
						<div class="<%= index.odd? ? 'col-lg-4' : 'col-lg-4' %> news-container">
							<a href="<%= noticia_visualizar_path(news.slug)%>">
								
								<div class="news-slide" style="background-color:<%= cycle("turquoise;", "wheat;", "thistle;", name: "cores") %>"></div>

								<div class="content-notice-image" style="overflow: hidden;">
									<% if news.imagem.present? %>
										<div class="notice-image zoom" style="background-image: url(<%= news.imagem %>);"></div>	
									<% else %>
										<div class="notice-image-auto zoom" style="background-image: url('<%= asset_path 'asserjufe.png' %>');"></div>	
									<% end %>
								</div>

								<h2 class="white-color text-center news-title" style="background-color:<%= cycle("turquoise;", "wheat;", "thistle;", name: "cores") %> padding: 15px auto; margin-top: 0px;"> 
									<b style="vertical-align: -webkit-baseline-middle; line-height: 2;"><%= truncate(news.title, :lenght =>16, :omission => '...') %></b>
								</h2>

								<div class="row">

									<div class="col-xs-12 col-md-6">
										<p class="main-color sriracha" style="display: inline;">
											<b class="sriracha"> <%= l(news.created_at, format: '%d de %B, de %Y às %Hh%M') %></b>
										</p>
									</div>

									<div class="col-md-6 hidden-xs text-right">
										<!-- Your share button code -->
										<div class="fb-share-button" 
											 data-href="<%= noticia_visualizar_path(news.slug) %>" 
											 data-layout="button"
											 data-turbolinks="true"
											 style="display: inline; margin-left: 5px;">
										</div>
									</div>
									<div class="col-xs-12 visible-xs text-left">
										<!-- Your share button code -->
										<div class="fb-share-button" 
											 data-href="<%= noticia_visualizar_path(news.slug) %>" 
											 data-layout="button"
											 data-turbolinks="true"
											 style="display: inline; margin-bottom: 5px;">
										</div>
									</div>

								</div>
								
								<p class="lead main-color text-center description" style="margin-bottom: 0px; height: 45px; margin-bottom: 15px;    overflow: hidden;">
									<%= truncate(news.description.html_safe, :length => 100, :omission => ' Ler mais...', :escape => false )%>
								</p>
							</a>
						</div>		
					<% end %>	
				</div>
			</div>
		</div>
	<% end %>

	<% if @palavras.present? %>
		<div class="msg-presidente">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2 class="white-color text-center" style="font-size: 40px; margin-bottom: 15px;">
							<i class="fa fa-comments-o"></i><b> Mensagem do Presidente</b>
						</h2>
						<% @palavras.each do |palavra| %>
							<%= video_tag(palavra.video,  poster: image_path('gallery/general/29.PNG'),:autobuffer => true, :controls => true, style: 'object-fit: cover; width: 100%; height: 500px; outline:none;') %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	<% end %>

	<!-- banner background-->
	<div class="background2 hidden-xs"></div>
	<!-- creditos fotógrafa -->
	<p class="main-color text-right hidden-xs" style="font-size: 16px; margin-left: 20px;">
		Fotos de <b>Evelyn Duarte</b>, 
		<a href="https://www.instagram.com/clicknotempofotografia"  target="_blank" data-toggle="tooltip" data-placement="bottom" data-original-title="Clique e confira meu trabalho!">Click no Tempo.</a>
	</p>

	<div class="banners">
		<!-- sede campestre -->
		<div class="container">
			<div class="row sede-campestre">
				<div class="col-md-6 mobile-center">
					<h2 class="visible-xs secundary-color title title-mob"><b>Sede Campestre</b></h2>
					<img src="<%= image_path 'gallery/general/01.PNG' %>" class="img-responsive">
				</div>
				<div class="col-md-6 mobile-center">
					<h2 class="hidden-xs secundary-color title title-mob"><b>Sede Campestre</b></h2>
					<p class="lead main-color">Venha com a <b>família</b> ou com seus <b>amigos</b> para aproveitar o <b>melhor da vida</b> com a gente <b>!</b></p>
					<a href="<%= sede_campestre_path %>">
						<button style="text-decoration: none;" class="main-color btn btn-link btn-lg">Saiba mais</button>
					</a>
				</div>
			</div>
		</div>

		<!-- seja um associado -->
		<div class="container">
			<div class="row sede-campestre">
				<div class="col-md-6 mobile-center">
					<h2 class="secundary-color title title-mob"><b>Seja um associado</b></h2>
					<p class="lead main-color text-justify">São muitas <b>vantagens</b> para você e sua <b>família.</b> Nossos <b>associados</b> possuem uma gama de convênios como planos telefônicos, UnimedOdonto e muito mais. <b>Confira !</b></p>
					<a href="<%= associe_se_path %>">
						<button style="text-decoration: none;" class="main-color btn btn-link btn-lg">Saiba mais</button>
					</a>
				</div>
				<div class="col-md-6 text-center">
					<img src="<%= image_path 'asserjufe-22-anos.jpg' %>" style="margin-top: 50px;">
				</div>
			</div>
		</div>

		<!-- convenios -->
		<div class="container">
			<div class="row convenios">
				<div class="col-md-6 mobile-center">
					<h2 class="secundary-color title title-mob visible-xs"><b>Convênios Asserjufe</b></h2>
					<div class="owl-carousel owl-theme owl-conv">
						<img class="img-responsive" src="<%= image_path 'logosParceiros/Tim.png' %>" style="background-color: #004691; padding: 6px 6px; display: inline; margin-top: 13px;">
						<img src="<%= image_path 'logosParceiros/Unimed.png' %>">
						<img src="<%= image_path 'logosParceiros/tecbiz.png' %>">
					</div>
				</div>
				<div class="col-md-6 mobile-center">
					<h2 class="secundary-color title title-mob hidden-xs"><b>Convênios Asserjufe</b></h2>
					<p class="lead main-color text-justify"><b> Oferecemos</b> muitos <b>benefícios</b> e <b>facilidades</b> para nossos <b> associados !</b> <b>Convênios</b> com preços lá em <b>baixo</b> em relação ao <b>mercado.</b></p>
					<a href="<%= convenios_path %>">
						<button style="text-decoration: none;" class="main-color btn btn-link btn-lg">Saiba mais</button>
					</a>
				</div>
			</div>
		</div>
	</div>

	<!-- google maps -->
	<%= render 'shared/google_maps', src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3453.90768647313!2d-51.23905238481813!3d-30.03950613800758!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9519791c02f8d6c3%3A0x67a9c27f6d99e242!2sASSERJUFE!5e0!3m2!1spt-BR!2sbr!4v1603592591117!5m2!1spt-BR!2sbr" %>
</section>