<div class="container-fluid page-start">
	<div class="container page-title">
		<div class="row">
			<div class="col-md-12 title">
	            <h1><strong>A Sede Campestre</strong></h1>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="container gallery">
		<div class="row">
			<div class="col-md-6">
				<h2 class="secundary-color text-center">O que é ?</h2>
				<p class="main-color lead text-justify">A sede campestre é um <b class="sriracha">belíssimo espaço de 6 hectares</b> que destina-se ao lazer, esportes, diversão, eventos e encontro entre amigos. Além de estarmos conectados diretamente com a <b class="sriracha">natureza</b> oferecemos todo o <b class="sriracha">conforto</b> que sua <b class="sriracha">família merece</b>.</p>
				<h2 class="secundary-color text-center">O que preciso levar ?</h2>
				<p class="lead main-color no-break text-left"><i class="fa fa-check"></i> Roupas de cama e banho.</p>
				<p class="lead main-color no-break text-left"><i class="fa fa-check"></i> Utensílios de higiene pessoal.</p>
				<p class="lead main-color no-break text-left"><i class="fa fa-check"></i> Itens alimentares e consumíveis.</p>
			</div>
			<div class="col-md-6 text-left services">
				<h2 class="secundary-color text-center">O que oferecemos ?</h2>
				<blockquote>
					<!-- <p class="text-left lead main-color no-break">
						<i class="fa fa-check main-color" aria-hidden="true"></i> Área para camping
					</p> -->
					<p class="text-left lead main-color no-break">
						<i class="fa fa-check main-color" aria-hidden="true"></i> 
						<a data-caption="Registro de Evelyn Duarte" data-fancybox="gallery" data-width="2592" data-height="1728" href="<%= image_path 'gallery/larg/19.PNG' %>">
							Salão de festas para 300 pessoas c/ churrasqueira
						<a>
					</p>
					<p class="text-left lead main-color no-break">
						<i class="fa fa-check main-color" aria-hidden="true"></i>
						<a data-caption="Registro de Evelyn Duarte" data-fancybox="gallery" data-width="2592" data-height="1728" href="<%= image_path 'gallery/larg/23.PNG' %>">
							Galpão crioulo com churrasqueira 
						</a>
					</p>
					<p class="text-left lead main-color no-break">
						<i class="fa fa-check main-color" aria-hidden="true"></i> 
						<a data-caption="Registro de Evelyn Duarte" data-fancybox="gallery" data-width="2592" data-height="1728" href="<%= image_path 'gallery/larg/22.PNG' %>">
							Mesas de sinuca/pebolim
						</a>
					</p>
					<p class="text-left lead main-color no-break">
						<i class="fa fa-check main-color" aria-hidden="true"></i> 
						<a data-caption="Registro de Evelyn Duarte" data-fancybox="gallery" data-width="2592" data-height="1728" href="<%= image_path 'gallery/larg/03.PNG' %>">
							Campo de futebol sete
						</a>
					</p>
					<p class="text-left lead main-color no-break">
						<i class="fa fa-check main-color" aria-hidden="true"></i> 
						Churrasqueiras ao ar livre
					</p>
					<p class="text-left lead main-color no-break">
						<i class="fa fa-check main-color" aria-hidden="true"></i> 
						<a data-caption="Registro de Evelyn Duarte" data-fancybox="gallery" data-width="2592" data-height="1728" href="<%= image_path 'gallery/larg/04.PNG' %>">
							Piscinas (Adulto e Infantil)
						</a>
					</p>
					<p class="text-left lead main-color no-break">
						<i class="fa fa-check main-color" aria-hidden="true"></i> 
						Wifi gratuíto
					</p>
					<p class="text-left lead main-color no-break">
						<i class="fa fa-check main-color" aria-hidden="true"></i> 
						<a data-caption="Registro de Evelyn Duarte" data-fancybox="gallery" data-width="2592" data-height="1728" href="<%= image_path 'gallery/larg/10.PNG' %>">
							Playground
						</a>
					</p>
					<p class="text-left lead main-color no-break">
						<i class="fa fa-check main-color" aria-hidden="true"></i> 
						Poço artesiano com água mineral pura
					</p>
				</blockquote>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid gallery">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2 class="main-color text-center" style="font-size: 45px;"><b>#Galeria</b> de fotos</h2>
				<small class="main-color text-center" style="font-family: 'Sriracha', cursive; text-decoration:underline; font-size:16px;">dica: Clique na imagem para ampliá-la.</small><br>
				<small class="main-color text-center" style="font-family: 'Sriracha', cursive; text-decoration:underline; font-size:16px;">Carrosel arrastável.</small>
			</div>	
		</div>
	</div>
	<div class="col-md-12">
		<div class="row">
			<div class="owl-carousel owl-theme owl-gallery">
				<a data-caption="Registro de Evelyn Duarte" data-fancybox="gallery" data-width="2592" data-height="1728" href="<%= image_path 'gallery/larg/01.PNG' %>">
					<img src="<%= image_path 'gallery/general/01.PNG' %>">
				</a>
				<a data-caption="Registro de Evelyn Duarte" data-fancybox="gallery" data-width="2592" data-height="1728" href="<%= image_path 'gallery/larg/02.PNG' %>">
					<img src="<%= image_path 'gallery/general/02.PNG' %>">
				</a>
				<a data-caption="Registro de Evelyn Duarte" data-fancybox="gallery" data-width="2592" data-height="1728" href="<%= image_path 'gallery/larg/03.PNG' %>">
					<img src="<%= image_path 'gallery/general/03.PNG' %>">
				</a>
				<a data-caption="Registro de Evelyn Duarte" data-fancybox="gallery" data-width="2592" data-height="1728" href="<%= image_path 'gallery/larg/04.PNG' %>">
					<img src="<%= image_path 'gallery/general/04.PNG' %>">
				</a>
				<a data-caption="Registro de Evelyn Duarte" data-fancybox="gallery" data-width="2592" data-height="1728" href="<%= image_path 'gallery/larg/05.PNG' %>">
					<img src="<%= image_path 'gallery/general/05.PNG' %>">
				</a>
				<a data-caption="Registro de Evelyn Duarte" data-fancybox="gallery" data-width="2592" data-height="1728" href="<%= image_path 'gallery/larg/07.PNG' %>">
					<img src="<%= image_path 'gallery/general/07.PNG' %>">
				</a>
				<a data-caption="Registro de Evelyn Duarte" data-fancybox="gallery" data-width="2592" data-height="1728" href="<%= image_path 'gallery/larg/08.PNG' %>">
					<img src="<%= image_path 'gallery/general/08.PNG' %>">
				</a>
				<a data-caption="Registro de Evelyn Duarte" data-fancybox="gallery" data-width="2592" data-height="1728" href="<%= image_path 'gallery/larg/10.PNG' %>">
					<img src="<%= image_path 'gallery/general/10.PNG' %>">
				</a>
				<a data-caption="Registro de Evelyn Duarte" data-fancybox="gallery" data-width="2592" data-height="1728" href="<%= image_path 'gallery/larg/11.PNG' %>">
					<img src="<%= image_path 'gallery/general/11.PNG' %>">
				</a>
				<a data-caption="Registro de Evelyn Duarte" data-fancybox="gallery" data-width="2592" data-height="1728" href="<%= image_path 'gallery/larg/12.PNG' %>">
					<img src="<%= image_path 'gallery/general/12.PNG' %>">
				</a>
				<a data-caption="Registro de Evelyn Duarte" data-fancybox="gallery" data-width="2592" data-height="1728" href="<%= image_path 'gallery/larg/13.PNG' %>">
					<img src="<%= image_path 'gallery/general/13.PNG' %>">
				</a>
				<a data-caption="Registro de Evelyn Duarte" data-fancybox="gallery" data-width="2592" data-height="1728" href="<%= image_path 'gallery/larg/14.PNG' %>">
					<img src="<%= image_path 'gallery/general/14.PNG' %>">
				</a>
				<a data-caption="Registro de Evelyn Duarte" data-fancybox="gallery" data-width="2592" data-height="1728" href="<%= image_path 'gallery/larg/15.PNG' %>">
					<img src="<%= image_path 'gallery/general/15.PNG' %>">
				</a>
				<a data-caption="Registro de Evelyn Duarte" data-fancybox="gallery" data-width="2592" data-height="1728" href="<%= image_path 'gallery/larg/16.PNG' %>">
					<img src="<%= image_path 'gallery/general/16.PNG' %>">
				</a>
				<a data-caption="Registro de Evelyn Duarte" data-fancybox="gallery" data-width="2592" data-height="1728" href="<%= image_path 'gallery/larg/17.PNG' %>">
					<img src="<%= image_path 'gallery/general/17.PNG' %>">
				</a>
				<a data-caption="Registro de Evelyn Duarte" data-fancybox="gallery" data-width="2592" data-height="1728" href="<%= image_path 'gallery/larg/18.PNG' %>">
					<img src="<%= image_path 'gallery/general/18.PNG' %>">
				</a>
				<a data-caption="Registro de Evelyn Duarte" data-fancybox="gallery" data-width="2592" data-height="1728" href="<%= image_path 'gallery/larg/19.PNG' %>">
					<img src="<%= image_path 'gallery/general/19.PNG' %>">
				</a>
				<a data-caption="Registro de Evelyn Duarte" data-fancybox="gallery" data-width="2592" data-height="1728" href="<%= image_path 'gallery/larg/20.PNG' %>">
					<img src="<%= image_path 'gallery/general/20.PNG' %>">
				</a>
				<a data-caption="Registro de Evelyn Duarte" data-fancybox="gallery" data-width="2592" data-height="1728" href="<%= image_path 'gallery/larg/21.PNG' %>">
					<img src="<%= image_path 'gallery/general/21.PNG' %>">
				</a>
				<a data-caption="Registro de Evelyn Duarte" data-fancybox="gallery" data-width="2592" data-height="1728" href="<%= image_path 'gallery/larg/22.PNG' %>">
					<img src="<%= image_path 'gallery/general/22.PNG' %>">
				</a>
				<a data-caption="Registro de Evelyn Duarte" data-fancybox="gallery" data-width="2592" data-height="1728" href="<%= image_path 'gallery/larg/23.PNG' %>">
					<img src="<%= image_path 'gallery/general/23.PNG' %>">
				</a>
				<a data-caption="Registro de Evelyn Duarte" data-fancybox="gallery" data-width="2592" data-height="1728" href="<%= image_path 'gallery/larg/25.PNG' %>">
					<img src="<%= image_path 'gallery/general/25.PNG' %>">
				</a>
				<a data-caption="Registro de Evelyn Duarte" data-fancybox="gallery" data-width="2592" data-height="1728" href="<%= image_path 'gallery/larg/26.PNG' %>">
					<img src="<%= image_path 'gallery/general/26.PNG' %>">
				</a>
				<a data-caption="Registro de Evelyn Duarte" data-fancybox="gallery" data-width="2592" data-height="1728" href="<%= image_path 'gallery/larg/27.PNG' %>">
					<img src="<%= image_path 'gallery/general/27.PNG' %>">
				</a>
				<a data-caption="Registro de Evelyn Duarte" data-fancybox="gallery" data-width="2592" data-height="1728" href="<%= image_path 'gallery/larg/28.PNG' %>">
					<img src="<%= image_path 'gallery/general/28.PNG' %>">
				</a>
				<a data-caption="Registro de Evelyn Duarte" data-fancybox="gallery" data-width="2592" data-height="1728" href="<%= image_path 'gallery/larg/29.PNG' %>">
					<img src="<%= image_path 'gallery/general/29.PNG' %>">
				</a>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12 assoc">
			<div class="bs-example" data-example-id="block-btns" style="margin-top: 40px;"> 
				<div class="well center-block" style="max-width:400px"> 
					<button class="btn-block sriracha btn btn-lg btn-success btn-pre-reserva" data-toggle="modal" data-target="#pre-reserva">
						Faça uma pré reserva !
					</button>
					<button class="hidden-xs btn-block sriracha btn btn-lg btn-primary" data-toggle="modal" data-target="#lembretes">
						<span>Regulamento de uso da sede campestre</span>
					</button>
					<button class="visible-xs btn-block sriracha btn btn-lg btn-primary" data-toggle="modal" data-target="#lembretes">
						<span>Regulamento sede campestre</span>
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="padding:25px 1px;">
		<div class="col-md-12 text-center">
			<h2 class="main-color">O melhor de tudo isso é o preço. Confira ! <br>
				<small style="font-size:30px;">
					<i class="fa fa-plus" style="color:#3c8dbc;"></i><b class="secundary-color">Economia  </b></i> 
					<i class="fa fa-plus" style="color:turquoise;"></i><b class="secundary-color">Diversão  </b>
				</small>
			</h2>
		</div>
		<div class="col-md-6 text-center assoc">
			<h2 class="main-color"></i><b>Associados</b></h2>
			<div class="second" style="background-color: #244235; border-radius: 100px;">
				<div class="pad">
					<p class="lead white-color sriracha" style="margin-bottom: 0px;">Pernoite: <b style="font-size:30px;">R$ 40,00</b></p>
					<p class="lead white-color sriracha" style="margin-bottom: 0px;">Diária: <b style="font-size:30px;">R$ 35,00</b></p>
				</div>
			</div>
			<div class="price">
				<p class="lead bolder no-break"><i class="fa fa-check"></i> Pais, marido, esposa, filhos e netos não pagam!</p>
				<p class="lead main-color" style="margin-bottom: 0px;">Demais familiares de associados:</p>
				<p class="lead main-color sriracha" style="margin-bottom: 0px;">Pernoite: <b style="font-size:30px;">R$ 35,00</b></p>
				<p class="lead main-color sriracha">Diária: <b style="font-size:30px;">R$ 30,00</b></p>
			</div>
		</div>
		<div class="pad visible-xs"></div>
		<div class="col-md-6 text-center nssoc">
			<h2 class="main-color"></i><b>Não sócios</b></h2>
			<div class="second" style="background-color: #3c8dbc; border-radius: 100px;">
				<div class="pad">
					<p class="lead white-color sriracha" style="margin-bottom: 0px;">Pernoite: <b style="font-size:30px;">R$ 35,00</b></p>
					<p class="lead white-color sriracha" style="margin-bottom: 0px;">Diária: <b style="font-size:30px;">R$ 30,00</b></p>
				</div>
			</div>
			<div class="price">
				<p class="lead main-color no-break"><i class="fa fa-check"></i> Preços super assessíveis.<a href="<%= associe_se_path %>"  data-toggle="tooltip" data-placement="bottom" data-original-title="Quero associar-me !"> Associe-se</a> hoje mesmo e garanta uma infinidade de benefícios. </p>
				<br>
				<br class="hidden-xs">
				<br class="hidden-xs">
				<br class="hidden-xs">
				<br class="hidden-xs">
			</div>
		</div>
	</div>
</div>

<div class="container big-house">
	<div class="row">
		<div class="col-md-12" style="background-color: #eee; margin-bottom: 15px;">
			<h2 class="main-color text-center" style="padding:25px 5px; font-size: 40px; margin-bottom: 20px;"><b>Instalações</b></h2>
		</div>
		<div class="col-md-6">
			<h2 class="visible-xs main-color text-center text-capitalize"><b>Casa grande</b></h2>
			<a data-fancybox="gallery" data-width="2592" data-height="1728" href="<%= image_path 'gallery/larg/16.PNG' %>">
				<img class="img-responsive img-rounded" src="<%= image_path 'gallery/general/16.PNG' %>">
			</a>
			<small class="main-color">clique para ampliar <i class="fa fa-search"></i></small>
		</div>
		<div class="col-md-6">
			<h2 class="hidden-xs main-color text-center text-capitalize"><b>Casa grande</b></h2>
			<blockquote>
				<p class="main-color text-justify">
					<i class="fa fa-check main-color" aria-hidden="true"></i>
					Três quartos: Um casal e dois solteiros c/duas camas, além de colchões que podem ser usados na sala.
				</p>
				<p class="main-color text-left">
					<i class="fa fa-check main-color" aria-hidden="true"></i>
					Lareira.
				</p>
				<p class="main-color text-left">
					<i class="fa fa-check main-color" aria-hidden="true"></i>
					Cozinha americana com utensílios.
				</p>
				<p class="main-color text-left">
					<i class="fa fa-check main-color" aria-hidden="true"></i>
					Sala de jantar c/ lareira e televisão.
				</p>
				<p class="main-color text-left">
					<i class="fa fa-check main-color" aria-hidden="true"></i>
					Dois banheiros completos.
				</p>
				<p class="main-color text-left">
					<i class="fa fa-check main-color" aria-hidden="true"></i>
					Ambiente aconchegante, espaçoso, bem arejado e iluminado.
				</p>
			</blockquote>
		</div>
	</div>
</div>

</div>
<div class="container small-house">
	<div class="row">
		<div class="col-md-6">
			<h2 class="visible-xs main-color text-center text-capitalize"><b>Casa pequena</b></h2>
			<a data-fancybox="gallery" data-width="2592" data-height="1728" href="<%= image_path 'gallery/larg/18.PNG' %>">
				<img class="img-responsive img-rounded" src="<%= image_path 'gallery/general/18.PNG' %>">
			</a>
			<small class="main-color">clique para ampliar <i class="fa fa-search"></i></small>
		</div>
		<div class="col-md-6">
			<h2 class="hidden-xs main-color text-center text-capitalize"><b>Casa pequena</b></h2>
			<blockquote>
				<p class="main-color text-justify">
					<i class="fa fa-check main-color" aria-hidden="true"></i>
					Três quartos: Um casal e dois solteiros c/duas camas, além de colchões que podem ser usados na sala.
				</p>
				<p class="main-color text-justify">
					<i class="fa fa-check main-color" aria-hidden="true"></i>
					Lareira.
				</p>
				<p class="main-color text-justify">
					<i class="fa fa-check main-color" aria-hidden="true"></i>
					Cozinha com utensílios.
				</p>
				<p class="main-color text-justify">
					<i class="fa fa-check main-color" aria-hidden="true"></i>
					Dois banheiros completos.
				</p>
				<p class="main-color text-justify">
					<i class="fa fa-check main-color" aria-hidden="true"></i>
					Sala de reuniões familiar c/ lareira, churrasqueira e televisão.
				</p>
				<p class="main-color text-justify">
					<i class="fa fa-check main-color" aria-hidden="true"></i>
					Ambiente aconchegante, espaçoso bem arejado e iluminado.
				</p>
			</blockquote>
		</div>
	</div>
</div>
<div class="container small-house">
	<div class="row">
		<div class="col-md-6">
			<h2 class="visible-xs main-color text-center text-capitalize"><b>Salão de Festas</b></h2>
			<a data-fancybox="gallery" data-width="2592" data-height="1728" href="<%= image_path 'gallery/larg/19.PNG' %>">
				<img class="img-responsive img-rounded" src="<%= image_path 'gallery/general/19.PNG' %>">
			</a>
			<small class="main-color">clique para ampliar <i class="fa fa-search"></i></small>
		</div>
		<div class="col-md-6 text-center">
			<h2 class="hidden-xs main-color text-center text-capitalize"><b>Salão de Festas</b></h2>
			<small class="main-color text-center">Eventos, reuniões de negócio, datas comemorativas, shows e muito mais.</small>
			<blockquote>
				<p class="main-color text-justify">
					<i class="fa fa-check main-color" aria-hidden="true"></i>
					Churrasqueira para eventos.
				</p>
				<p class="main-color text-justify">
					<i class="fa fa-check main-color" aria-hidden="true"></i>
					Palco para show's e eventos.
				</p>
				<p class="main-color text-justify">
					<i class="fa fa-check main-color" aria-hidden="true"></i>
					Balcão estilo cozinha americana em volta da churrasqueira.
				</p>
				<p class="main-color text-justify">
					<i class="fa fa-check main-color" aria-hidden="true"></i>
					Dois banheiros
				</p>
				<p class="main-color text-justify">
					<i class="fa fa-check main-color" aria-hidden="true"></i>
					Pia de cozinha.
				</p>
				<p class="main-color text-justify">
					<i class="fa fa-check main-color" aria-hidden="true"></i>
					Mesas e cadeiras para eventos.
				</p>
				<p class="main-color text-justify">
					<i class="fa fa-check main-color" aria-hidden="true"></i>
					Ambiente aconchegante, espaçoso bem arejado e iluminado.
				</p>
			</blockquote>
		</div>
	</div>
</div>

<!-- banner background-->
<div class="background3"></div>

<div class="container feedback">
	<div class="row">
		<div class="col-md-12">
			<h2 class="main-color text-center" style="margin-bottom: 40px;">
				<i class="fa fa-comments" aria-hidden="true"></i> 
				Feedback
			</h2>
			<div class="owl-feedback owl-carousel owl-theme">
				<div class="row">
					<div class="col-md-12 text-center">
						<img clss="img-circle" src="<%= image_path 'feedback/01.png' %>">	
						<h3 class="main-color">Leonardo de Moraes</h3>
						<br>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
					</div>
					<div class="col-md-12">
						<p class="main-color text-center lead">
							Espaço maravilhoso!.
						</p>	
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-center">
						<img clss="img-circle" src="<%= image_path 'feedback/02.png' %>">	
						<h3 class="main-color">Andrea Duarte</h3>
						<br>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
					</div>
					<div class="col-md-12">
						<p class="main-color text-center lead">
							Simplesmente um paraíso!.
						</p>	
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-center">
						<img clss="img-circle" src="<%= image_path 'feedback/03.png' %>">	
						<h3 class="main-color">Renato Santos</h3>
						<br>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
					</div>
					<div class="col-md-12">
						<p class="main-color text-center lead">
							Lindo lugar.
						</p>	
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-center">
						<img clss="img-circle" src="<%= image_path 'feedback/04.png' %>">	
						<h3 class="main-color">Beatriz Santos</h3>
						<br>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
					</div>
					<div class="col-md-12">
						<p class="main-color text-center lead">
							EU AMO ESSE LUGAR.
						</p>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row" style="padding:15px 0px;">
		<div class="col-md-12 text-center">
			<button class="btn btn-lg btn-success btn-pre-reserva" data-toggle="modal" data-target="#pre-reserva">
				Faça uma pré reserva !
			</button>
		</div>	
	</div>
</div>
<!-- Google Maps -->
<div class="map container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-8">
			<div class="maps">
				<div class="container-fluid">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3449.4474785741118!2d-50.85263338488192!3d-30.167208981837895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x547d6560504cc632!2sASSERJUFE-RS%20Sede%20Campestre!5e0!3m2!1spt-BR!2sbr!4v1611087103169!5m2!1spt-BR!2sbr" width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
				</div>
			</div>
		</div>
		
		<div class="col-xs-12 col-md-4 maps-info mobile-center">
			<h3 class="main-color text-capitalize">Sede Campestre</h3>
			<h3 class="main-color">R. Henrique de Oliveira Fraga, Águas Claras, Viamão, n°5900.</h3>
			<p class="main-color lead">Entre em contato 
				<a href="<%= contato_path %>" data-toggle="tooltip" data-placement="bottom" data-original-title="Clique para abrir a página de contato.">
					<small>através deste link.</small>
				</a>
			</p>
			<p class="main-color lead">asserjufe.poa@gmail.com</p>
			<br>
			<a href="https://api.whatsapp.com/send?phone=5551997659983" data-toggle="tooltip" data-placement="right" data-original-title="Enviar mensagem no WhatsApp." target="_blank">
				<i class="fa fa-whatsapp" aria-hidden="true"></i>
			</a>
		</div>
	</div>
</div>

<%= render 'modal_lembretes' %>

<!-- modal pre reserva -->
<% if flash[:error].present? or flash[:success].present? %>
	<script type="text/javascript">
		$(document).on('turbolinks:load', function(){
			$('#pre-reserva').modal('show')
		});
	</script>
<% end %>
<%= render 'modal_pre_reserva' %>
