<div class="row">
  <div class="col-lg-6">
    <%= render partial: 'layouts/form_errors', locals: {model: @banner} %>
    <div class="box box-success">
      <%= form_with(model: banner, local: true) do |f| %>
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label 'Status', class: 'main-color' %>
                <%= f.select :status, options_for_select([['Ativo', 'ativo'],['Inativo', 'inativo']]), { include_blank: false }, class: 'form-control' %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label 'Imagem', class: 'main-color' %>
                <%= f.file_field :imagem, class: 'form-control' %>
              </div>
            </div>
            <div class="col-md-12">
              <%= f.label 'Link do banner', class: 'main-color' %>
              <%= f.text_field :url, class: 'form-control' %>
              <small class="main-color">Copie e cole aqui o endereço da página do site que o banner deverá linkar.</small>
            </div>
          </div>
        </div>
        <div class="box-footer">
            <%= f.submit action_name == 'edit' ? 'Atualizar' : 'Cadastrar', class: 'btn btn-success btn-flat', role: 'button' %>
            <%= link_to 'Voltar', banners_path, class: 'btn btn-danger btn-flat', role: 'button' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
