<div class="container-fluid footer-menu">
	<div class="container">
		<div class="row">
			<!--atendimento footer-->
			<div class="col-md-4 col-sm-12 col-xs-12 atendimento ">
				<h4><strong>Atendimento</strong></h4>
				<ul class="atendimento-footer">
					<li>	
						<i class="fa fa-phone fone"></i>
						<text class="numero sriracha">(51) 3225.0356</text>
					</li>
					<li>	
						<i class="fa fa-phone fone"></i>
						<text class="numero sriracha">(51) 3213.3347</text>
					</li>
					<li>
						<i class="fa fa-envelope envelope" aria-hidden="true"></i>
						<text class="email sriracha">asserjufe.poa@gmail.com</text>
					</li>
					<li>
						<i class="fa fa-mail-forward mail" aria-hidden="true"></i>
						<a class="contato sriracha" href="<%= contato_path %>">Entre em contato</a>
					</li>
				</ul>
			</div>
			<!--menu footer-->
			<div class="col-md-4 col-sm-12 col-xs-12 menu">
				<h4><strong>Menu</strong></h4>
				<ul class="menu-footer">
					<li><a class="sriracha" href="<%= root_path %>">Início</a></li>
					<li><a class="sriracha" href="<%= a_asserjufe_path %>">Sobre a Asserjufe</a></li>
					<li><a class="sriracha" href="<%= sede_campestre_path %>">Sede Campestre</a></li>
					<li><a class="sriracha" href="<%= associe_se_path %>">Associe-se</a></li>
					<li><a class="sriracha" href="<%= convenios_path %>">Convênios</a></li>
		        </ul>    
			</div>
			<!--sociais footer-->
			<div class="col-md-4 col-sm-12 col-xs-12 asserjufe">
				<h4>
					<strong>
						<i class="fa fa-code-fork"></i>Conecte-se com a Asserjufe
					</strong>
				</h4>
				<a href="https://api.whatsapp.com/send?phone=5551997659983" target="blank" title="Fale conosco no WhatsApp" data-toggle="tooltip" data-placement="bottom"data-original-title="Enviar mensagem no WhatsApp.">
					<i class="fa fa-whatsapp"></i>
				</a>
				<a href="https://www.facebook.com/asserjufers/" target="blank" title="Visite-nos no Facebook" data-toggle="tooltip" data-placement="bottom" data-original-title="Conheça nosso facebook.">
					<i class="fa fa-facebook-square"></i>
				</a>
				<!-- <a href="https://www.instagram.com/asserjufers/" target="blank"  title="Conheça nosso Instagram" data-toggle="tooltip" data-placement="bottom" data-original-title="Visite nosso instagram.">
					<i class="fa fa-instagram"></i>
				</a> -->
			</div>
		</div>	
	</div>
</div>
<div class="container-fluid copyright">
	<div class="container">
		<div class="pad">
			<div class="row">
				<div class="col-md-6 text-left">
					<p class="lead">
						ASSERJUFE-RS <i class="fa fa-copyright"></i> <%= Date.today.strftime('%Y') %>
					</p>
				</div>
				<div class="col-md-6 text-left author">
					<p class="lead">
						<a class="white-color system-author" data-toggle="tooltip" data-placement="top" data-original-title="Clique aqui para falar com o administrador do sistema." href="mailto:avitassibanac@gmail.com@gmail.com">
							<small class="white-color">Desenvolvido por Leonardo Moraes</small>
							<i class="fa fa-user-secret" aria-hidden="true"></i>
						</a>
					</p>
				</div>
			</div>	
		</div>
	</div>
</div>
