<div class="container-fluid main-header">
	<div class="container">
		<div class="row">

			<!-- login -->
			<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 text-center login">
				<a href="<%= backend_path %>" class="white-color text-left" data-toggle="tooltip" data-placement="right" data-original-title="Login">
					Entrar <i class="fa fa-sign-in"></i> 
				</a>
			</div>

			<!-- sociais icons -->
			<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 text-right sociais">

				<a href="https://api.whatsapp.com/send?phone=5551997659983" target="blank" title="Fale conosco no WhatsApp" data-toggle="tooltip" data-placement="bottom" data-original-title="Enviar mensagem no WhatsApp.">
					<i class="fa fa-whatsapp"></i>
				</a>
				<a href="https://www.facebook.com/asserjufers/" target="blank" title="Visite-nos no Facebook" data-toggle="tooltip" data-placement="bottom" data-original-title="Conheça nosso facebook.">
					<i class="fa fa-facebook-square"></i>
				</a>
				<a href="https://www.instagram.com/asserjufers/" target="blank" title="Conheça nosso Instagram" data-toggle="tooltip" data-placement="bottom" data-original-title="Visite nosso instagram.">
					<i class="fa fa-instagram"></i>
				</a>
				<!--barra/telefone-->
				<text class="barra"></text>
				<!-- phone -->
				<i class="fa fa-phone fone"></i>
				<text><strong class="numero">(51) 3225.0356</strong></text>
			</div>	
		</div>
	</div>		
</div>
<nav class="navbar sub-header">
    <div class="container">
        <div class="navbar-header">
           <!-- mobile button -->
        	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
	            <i class="fa fa-bars" aria-hidden="true"></i>
	        </button>
	        <!-- logo -->
	        <div class="logo">
	          	<a href="<%= root_path %>">
					<img src="<%= image_path 'asserjufe.png' %>" class="img-fluid" title="Ir para home" data-toggle="tooltip" data-placement="bottom">
				</a>
			</div>
        </div>
        <!-- menu -->
        <div id="navbar" class="navbar-collapse collapse menu">
        	<ul class="nav navbar-nav">
        		<li>
	            	<a href="<%= root_path %>">Início</a>
	            </li>
	            <li>
	            	<a href="<%= a_asserjufe_path %>">Sobre a Asserjufe</a>
	            </li>
	            <li>
	            	<a href="<%= sede_campestre_path %>">Sede Campestre</a>
	            </li>
	            <li>
   					<a href="<%= associe_se_path %>">Associe-se</a>
   				</li>
   				<li>
   					<a href="<%= convenios_path %>">Convênios</a>
   				</li>
   				<li class="dropdown">
   					<a class="dropdown-toggle" href="javacript:void(0)">Biblioteca
   						<span class="caret"></span>
   					</a>
   					<ul class="dropdown-menu">
                        <li><a href="">Estatuto</a></li>
                        <li><a href="">Tabela de valores</a></li>
                        <li><a href="">Regimento interno</a></li>
                        <li><a href="">Regulamentos</a></li>                 
                    </ul>
   				</li>
            	<li>
            		<a class="<%= @page_title == 'Contato' ? 'active' : '' %>" href="<%= contato_path %>">Contato</a>
            	</li>
          	</ul>
        </div>
    </div>
</nav>