<div class="container-fluid main-header">
	<div class="container">
		<div class="row">
			<!-- sociais icons -->
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right sociais">
				<a href="https://api.whatsapp.com/send?phone=5551997659983" target="blank" title="Fale conosco no WhatsApp" data-toggle="tooltip" data-placement="bottom" data-original-title="Enviar mensagem no WhatsApp.">
					<i class="fa fa-whatsapp"></i>
				</a>
				<a href="https://www.facebook.com/asserjufers/" target="blank" title="Visite-nos no Facebook" data-toggle="tooltip" data-placement="bottom" data-original-title="Conheça nosso facebook.">
					<i class="fa fa-facebook-square"></i>
				</a>
				<a href="https://www.instagram.com/asserjufers/" target="blank" title="Conheça nosso Instagram" data-toggle="tooltip" data-placement="bottom" data-original-title="Visite nosso instagram.">
					<i class="fa fa-instagram"></i>
				</a>
				<!--barra/telefone-->
				<text class="barra"></text>
				<!-- phone -->
				<i class="fa fa-phone fone"></i>
				<text><strong class="numero">0800.605.1410</strong></text>
			</div>	
		</div>
	</div>		
</div>
<nav class="navbar sub-header">
    <div class="container">
        <div class="navbar-header">
           <!-- mobile button -->
        	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
	            <i class="fa fa-bars" aria-hidden="true"></i>
	        </button>
	        <!-- logo -->
	        <div class="logo">
	          	<a href="<%= root_path %>">
					<img src="<%= image_path 'asserjufe.png' %>" class="img-fluid" title="Ir para home" data-toggle="tooltip" data-placement="bottom">
				</a>
			</div>	
        </div>
        <!-- menu -->
        <div id="navbar" class="navbar-collapse collapse menu">
        	<ul class="nav navbar-nav">
	            <li>
	            	<a class="<%= @page_title == 'A Asserjufe' ? 'active' : '' %>" href="<%= a_asserjufe_path %>">A Asserjufe</a>
	            </li>
	            <li>
	            	<a class="<%= @page_title == 'Diretoria' ? 'active' : '' %>" href="<%= diretoria_path %>">Diretoria</a>
	            </li>
	            <li>
	            	<a class="<%= @page_title == 'Sede campestre' ? 'active' : '' %>" href="<%= sede_campestre_path %>">Sede Campestre</a>
	            </li>
	            <li class="dropdown">
              		<a href="#" class="dropdown-toggle visible-xs" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              		Serviços
              			<span class="caret"></span>
              		</a>
              		<a class="hidden-xs">
              		Serviços
                       	<span class="caret"></span>
                   	</a>
          			<ul class="dropdown-menu">
           				<li>
           					<a class="<%= @page_title == 'Associe-se' ? 'active' : '' %>" href="<%= associe_se_path %>">Associe-se</a>
           				</li>
           				<li>
           					<a class="<%= @page_title == 'Convênios' ? 'active' : '' %>" href="<%= convenios_path %>">Convênios</a>
           				</li>
         			</ul>
            	</li>
            	<li>
            		<a class="<%= @page_title == 'Contato' ? 'active' : '' %>" href="<%= contato_path %>">Contato</a>
            	</li>
          	</ul>
        </div>
    </div>
</nav>