<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu tree" data-widget="tree">
      
      <li class="header">MENU</li>
      <li>
        <a href="<%= backend_path %>">
          <i class="fa fa-home"></i> <span>INÍCIO</span>
        </a>
      </li>
      <!-- Pré reservas -->
      <% if policy(PreReserva).index? %>
        <li>
          <a href="<%= pre_reservas_path %>">
            <i class="fa fa-book"></i> 
            <span>PRÉ-RESERVAS</span>
          </a>
        </li>
      <% end %>
      <!-- Banners -->
      <% if policy(Banner).index? %>
        <li>
          <a href="<%= banners_path %>">
            <i class="fa fa-image"></i> 
            <span>Banners</span>
          </a>
        </li>
      <% end %>

      <!-- Palavra do Presidente -->
      <% if policy(PalavraPresidente).index? %>
        <li>
          <a href="<%= palavras_presidente_path %>">
            <i class="fa fa-commenting-o"></i>
            <span>PALAVRA DO PRESIDENTE</span>
          </a>
        </li>
      <% end %>

      <% if policy(Noticia).index? %>
        <li>
          <a href="<%= noticias_path %>">
            <i class="fa fa-newspaper-o"></i> 
            <span>NOTÍCIAS</span>
          </a>
        </li>
      <% end %>

      <% if policy(Documento).index? %>
        <li>
          <a href="<%= documentos_path %>">
            <i class="fa fa-folder"></i> 
            <span>BIBLIOTECA</span>
          </a>
        </li>
      <% end %>

      <% if policy(User).index? %>
        <li>
          <a href="<%= usuarios_path %>">
            <i class="fa fa-users"></i> <span>USUÁRIOS</span>
          </a>
        </li>
      <% end %>
    </ul>
  </section>
</aside>