<h3>Contato</h3>

<p>Novo contato recebido através de site da Asserjufe.</p>
<p>Seguem o email abaixo:</p>
<ul style="list-style-type: none">
	<li>
		<strong>Nome Completo:</strong> <%= @contato.nome %>
	</li>
	<li>
		<strong>Email:</strong> <%= @contato.email %>
	</li>
	<li>
		<strong>Telefone:</strong> <%= @contato.telefone %>
	</li>
	<li>	
		<strong>Assunto:</strong> <%= @contato.assunto %>
	</li>
	<li>	
		<strong>Mensagem:</strong> <%= @contato.mensagem %>
	</li>
	<li>
		<strong>Enviado em:</strong> <%= @contato.created_at.strftime('%d/%m/%Y %H:%M') %>
	</li>
</ul>