<!DOCTYPE html>
<html lang="pt-BR">
  <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Sriracha&display=swap" rel="stylesheet">
        <title>ASSERJUFE - <%= @page_title %></title>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css" integrity="sha512-nNlU0WK2QfKsuEmdcTwkeh+lhGs6uyOxuUs+n+0oXSYDok5qy0EI0lt01ZynHq6+p/tbgpZ7P+yUb+r71wqdXg==" crossorigin="anonymous" />
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- og -->
        <meta property="og:locale" content="pt_BR">
        <meta property="og:url" content="<%= @current_url %>" />        
        <meta property="og:title" content="<%= @page_title %>" />
        <meta property="og:site_name" content="Asserjufe-RS">
        <meta property="og:type" content="website" />
        <meta property="og:description" content="A ASSERJUFE é uma sociedade civil de direito privado, de representação profissional dos Servidores da Justiça Federal, de âmbito Regional, sem fins lucrativos, com prazo de duração indeterminado, de caráter associativo, cultural, recreativo, com personalidade jurídica distinta de seus associados, os quais não respondem por quaisquer compromissos ou obrigações assumidos pela entidade."/>
        <meta property="og:image" content="<%= @url  %><%= image_path 'asserjufe-22-anos.jpg' %>"/>
        <meta property="og:image:width" content="600">
        <meta property="og:image:height" content="600">
    </head>

  <body>
    <!-- Header -->
    <section class="asserjufe-header">
        <%= render partial: 'shared/header' %>
    </section>

    <!-- Content -->
    <section class="asserjufe-content">
        <%= yield %>    
    </section>

    <!-- Footer -->
    <section class="asserjufe-footer">
        <%= render partial: 'shared/footer' %>
    </section>

    <!-- Whatsapp -->
    <a href="https://api.whatsapp.com/send?phone=5551997659983" class="whats-pop-up" data-toggle="tooltip" data-placement="left" data-original-title="Fale conosco no WhatsApp!" target="_blank">
      <i class="fa fa-whatsapp"></i>
    </a>

    <!-- Arrow up -->
    <div class="ancor-up hidden-xs" data-toggle="tooltip" data-placement="left" data-original-title="Voltar ao topo do site.">
        <i class="fa fa-arrow-up"></i>
    </div>

    <!-- fb sdk -->
    <div data-turbolinks="true" id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v10.0&appId=763869207799905&autoLogAppEvents=1" nonce="YYUUgGSD"></script>

    <!-- Your share button code -->
    <div data-turbolinks="true" class="fb-share-button hidden-xs fb_iframe_widget" data-href="https://fontawesome.com/v4.7.0/icons/" data-layout="button" data-size="large" style="position: fixed; bottom: 20px; right: 20px; z-index: 9999; border:none; overflow:hidden;" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=763869207799905&amp;container_width=80&amp;href=http%3A%2F%2Flocalhost%3A3000%2Fa-asserjufe&amp;layout=button&amp;locale=pt_BR&amp;sdk=joey&amp;size=large">
        <span style="vertical-align: bottom; width: 121px; height: 28px;">
            <iframe name="f2523fe8546e77" width="1000px" height="1000px" data-testid="fb:share_button Facebook Social Plugin" title="fb:share_button Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://web.facebook.com/v10.0/plugins/share_button.php?app_id=763869207799905&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df1eb0af06b2654c%26domain%3Dlocalhost%26origin%3Dhttp%253A%252F%252Flocalhost%253A3000%252Ff393031fdf6b7a8%26relation%3Dparent.parent&amp;container_width=80&amp;href=http%3A%2F%2Flocalhost%3A3000%2Fa-asserjufe&amp;layout=button&amp;locale=pt_BR&amp;sdk=joey&amp;size=large" style="border: none; visibility: visible; width: 121px; height: 28px;" class="">
            </iframe>
        </span></div>
  </body>
</html>
